{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Photo Gallery - {{title}}</title>
  {% else %}
    <title> Photo Gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script>
$('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
      </script>
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %}

    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
<footer>
 <!-- Copyright -->
  <div class="footer text-center py-3">© 2020 Copyright:Nimo
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>