{%extends 'base.html'%}

{% block content %}
{{block.super}}

<!-- Owl carousel -->
<div class="container-fluid">
    <div class="owl-carousel owl-theme">
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=524" class='img-fluid' alt=""></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=523" class='img-fluid' alt=""></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=76" class='img-fluid' alt="Bicycle outside Home"></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=525" class='img-fluid' alt=""></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=584" class='img-fluid' alt="Ireland"></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=511" class='img-fluid' alt="Sahara dessert"></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=571" class='img-fluid' alt=""></div>
        <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=554" class='img-fluid' alt=""></div>
      <div class="item"><img src="https://unsplash.it/1200/768.jpg?image=49" class='img-fluid' alt="Greece"></div>
    </div>
</div>
{% comment %} End of carousel {% endcomment %}
{% endblock %}